ul li {
    color: white;
    text-align: left;
}

.panel-title {
    color: white;
    margin-top: 14px;
    text-align: left;
    margin-left: 15px;
}

@media (max-width: 575px) {
    .screen-accordion {
        display: none;
    }
}

@media (min-width: 576px) {
    .mobile-accordion {
        display: none;
    }
}

